@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
 
@color-change{
	background-color: yellow;
}

* {
    font-family: 'Pretendard-Regular', sans-serif;
    cursor: pointer;
}
  body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 1903px;
    height: 1000px;
  
  }
  .moveh {
    background-color: rgb(20, 3, 78); /* 배경색을 원하는 색상으로 설정 */
    color: white!important; /* 글자색을 원하는 색상으로 설정 */
}
.pagename {  /*헤더에 현재페이지 표시*/
  width: 140px;
  height: 140px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 0px;
  float:left;
}
.pagename1{ /*검색창 메뉴 위  글씨*/
  float:left;
  margin-left: 210px;
  font-size: 45px;
  color: rgb(20, 3, 78);
  text-align: center;
 
  }


 
  /*----------------------------------------content---------------------------*/
  .content {
    width: 1100px;
    height: 1000px;
    margin-top: -820px;
    margin-left: 400px;
 
  }


  
/*----------------------------------------nav-------------------------*/
/*오른쪽 버튼네비*/
.h_map{
  position: fixed;
  top:180px;
  right: 100px;
  width: 290px;
  height: 290px;
  border: solid 1px;
}

.rinav{
  position: fixed;
  top:500px;
  right: 250px;
    width: 150px;
    height: 250px;
}
.eur, .cart,.pay{
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(117, 165, 236);
    background-color:rgb(117, 165, 236);
    color:white;
}

.eur:hover {
    background-color:rgb(46, 78, 151);
}
.cart:hover {
    background-color: rgb(46, 78, 151);
}
.pay:hover {
    background-color: rgb(46, 78, 151);
}


/*--------------------------------------sch nav 검색창 네비---------------------------*/
/* 왼쪽 검색네비*/
.schnav{
  font-weight: bold;
   width: 240px;
   height: 700px;
   border-style: solid;
   border-width: 1.5px;
   color:rgb(20, 3, 78);
   margin-left: 160px;
   margin-top: 70px;
}

.sch1{
 width: 200px;
 height: 70px;
 float: left;
 margin-top: 20px;
 margin-left: 15px;
}
.sch_title{
 margin-top: 0px;
 margin-bottom: 0px;
 font-size: 18px;
 padding: 0px;
}
.sch_city,.sch_indate,.sch_outdate{
 width: 190px;
 height: 30px;
 float: left;
 margin-left: 0px;
 margin-top: 10px;
  padding-left: 10px;
  color: rgb(20, 3, 78);
}
.sch12{
 width: 200px;
 height: 110px;
 float: left;
 margin-top: 15px;
 margin-left: 15px;
}
.sch_adult,.sch_kid{
 width: 80px;
 height: 30px;
 margin-left: 0px;
 margin-top: 10px;
 padding-left: 10px;
 color: rgb(20, 3, 78);
}

.sch_minpri,.sch_maxpri{
 width: 70px;
 height: 30px;
 margin-left: 3px;
 margin-top: 10px;
 padding-left: 10px;
}
.h_twin{
 margin-top: 15px;
}

.sch_btn{
 width: 80px;
 height: 30px;
 margin-left: 70px;
 margin-top: 30px;
}
/*--------------------------------호텔 정보를 보여주는 div-----------------------*/
#hotel_info{/*내용전체*/
  border:solid 1px;
  width: 1000px;
  height: 1000px;
  margin-top: 120px;
  margin-left: 50px;
}
#hotel_info_phos{
  background-color: antiquewhite;
  width: 950px;
  height: 400px;
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 50px;
}
#hotel_info_pho1{
  border:solid 1px;
  width: 300px;
  height: 300px;
  background-color: aliceblue;
}
.h_info_title_pho1{
  width: 300px;
  height: 300px;
}
#hotel_info_pho2{
  background-color: aqua;
  width: 180px;
  height: 180px;
  margin-top: -325px;
  margin-left: 350px;
}
#hotel_info_pho3{
  background-color: aqua;
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 350px;
}
#hotel_info_pho4{
  background-color: aqua;
  width: 180px;
  height: 180px;
  margin-top: -385px;
  margin-left: 550px;
}
#hotel_info_pho5{
  background-color: aqua;
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 550px;
}
#hotel_info_pho6{
  background-color: aqua;
  width: 180px;
  height: 180px;
  margin-top: -385px;
  margin-left: 755px;
}
#hotel_info_pho7{
  background-color: aqua;
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 755px;
}
.h_info_title_pho2,.h_info_title_pho3,.h_info_title_pho4,
.h_info_title_pho5,.h_info_title_pho6,.h_info_title_pho7{
  width: 180px;
  height: 180px;
}
#hotel_info_engname{
  border:solid 1px;
  width: 800px;
  height: 50px;
  padding-top: 25px;
  padding-left: 15px;
}
#hotel_info_koname{
  border:solid 1px;
  width: 800px;
  height: 30px;
  padding-left: 15px;
}









