@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
 
@color-change{
	background-color: yellow;
}

* {
    font-family: 'Pretendard-Regular', sans-serif;
    cursor: pointer;
}
  body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 1903px;
    height: 1000px;
  
  }
  .moveh {
    background-color: rgb(20, 3, 78); /* 배경색을 원하는 색상으로 설정 */
    color: white!important; /* 글자색을 원하는 색상으로 설정 */
}
.pagename {  /*헤더에 현재페이지 표시*/
  width: 140px;
  height: 140px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 0px;
  float:left;
}
.pagename1{ /*검색창 메뉴 위  글씨*/
  float:left;
  margin-left: 210px;
  font-size: 45px;
  color: rgb(20, 3, 78);
  text-align: center;
 
  }


 
  /*----------------------------------------content---------------------------*/
  .content {
    width: 1100px;
    height: 1800px;
    margin-top: -820px;
    margin-left: 400px;
 
  }


  
/*----------------------------------------nav-------------------------*/
/*오른쪽 버튼네비*/
.h_map{
  position: fixed;
  top:190px;
  right: 100px;
  width: 290px;
  height: 290px;
  border: solid 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.rinav{
  position: fixed;
  top:500px;
  right: 250px;
    width: 150px;
    height: 250px;
}
.eur, .cart,.pay{
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(117, 165, 236);
    background-color:rgb(117, 165, 236);
    color:white;
}

.eur:hover {
    background-color:rgb(46, 78, 151);
}
.cart:hover {
    background-color: rgb(46, 78, 151);
}
.pay:hover {
    background-color: rgb(46, 78, 151);
}


/*--------------------------------------sch nav 검색창 네비---------------------------*/
/* 왼쪽 검색네비*/
.schnav{
  font-weight: bold;
   width: 240px;
   height: 700px;
   border-style: solid;
   border-width: 1.5px;
   color:rgb(20, 3, 78);
   margin-left: 160px;
   margin-top: 70px;
}

.sch1{
 width: 200px;
 height: 70px;
 float: left;
 margin-top: 20px;
 margin-left: 15px;
}
.sch_title{
 margin-top: 0px;
 margin-bottom: 0px;
 font-size: 18px;
 padding: 0px;
}
.sch_city,.sch_indate,.sch_outdate{
 width: 190px;
 height: 30px;
 float: left;
 margin-left: 0px;
 margin-top: 10px;
  padding-left: 10px;
  color: rgb(20, 3, 78);
}
.sch12{
 width: 200px;
 height: 110px;
 float: left;
 margin-top: 15px;
 margin-left: 15px;
}
.sch_adult,.sch_kid{
 width: 80px;
 height: 30px;
 margin-left: 0px;
 margin-top: 10px;
 padding-left: 10px;
 color: rgb(20, 3, 78);
}

.sch_minpri,.sch_maxpri{
 width: 70px;
 height: 30px;
 margin-left: 3px;
 margin-top: 10px;
 padding-left: 10px;
}
.h_twin{
 margin-top: 15px;
}

.sch_btn{
 width: 80px;
 height: 30px;
 margin-left: 70px;
 margin-top: 30px;
}
/*--------------------------------호텔 정보를 보여주는 div-----------------------*/
#hotel_infos{/*내용전체 content div와 함께수정 해야 함.*/

  width: 1000px;
  height: 1800px;
  margin-top: 120px;
  margin-left: 50px;

}

#hotel_info_phos{
 
  width: 950px;
  height: 400px;
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#hotel_info_pho1{
  border:solid 1px;
  width: 300px;
  height: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 
}
#hotel_info_pho1:hover,#hotel_info_pho2:hover,#hotel_info_pho3:hover,
#hotel_info_pho4:hover,#hotel_info_pho5:hover,#hotel_info_pho6:hover,
#hotel_info_pho7:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.h_info_title_pho1{
  width: 300px;
  height: 300px;
}
#hotel_info_pho2{
  border:solid 1px;
  width: 180px;
  height: 180px;
  margin-top: -325px;
  margin-left: 350px;
  
}
#hotel_info_pho3{
  border:solid 1px;
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 350px;
}
#hotel_info_pho4{
  border:solid 1px;
  width: 180px;
  height: 180px;
  margin-top: -385px;
  margin-left: 550px;
}
#hotel_info_pho5{
  border:solid 1px;
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 550px;
}
#hotel_info_pho6{
  border:solid 1px;
  width: 180px;
  height: 180px;
  margin-top: -385px;
  margin-left: 755px;
}
#hotel_info_pho7{
  border:solid 1px;
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 755px;
}
.h_info_title_pho2,.h_info_title_pho3,.h_info_title_pho4,
.h_info_title_pho5,.h_info_title_pho6,.h_info_title_pho7{
  width: 180px;
  height: 180px;
  
}
/*---------------사진 밑 정보---------------------------------*/
#hotel_info_engname{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.22); 
  width: 800px;
  height: 35px;
  padding-top: 25px;
  padding-left: 50px;
}
#hotel_info_koname{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.22); 
  width: 800px;
  height: 40px;
  padding-left: 0px;
}
#hotel_info_addr{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.22); 
  width: 800px;
  height: 30px;
  padding-left: 50px;
}

#hotel_info_tel{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.22); 
  width: 800px;
  height: 30px;
  padding-left: 50px;
}
#hotel_info_options{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.22); 
  width: 800px;
  height: 30px;
  padding-left: 50px;
}
#hotel_info_breakfast,#hotel_info_pool,
#hotel_info_rooftop{
  width: 120px;
  height: 30px;
}
#hotel_info_pool{
  margin-left: 125px;
  margin-top: -30px;
}
#hotel_info_rooftop{
  margin-left: 260px;
  margin-top: -30px;
}
/*----------------룸 별 정보 ---------------------------------------- */
#hotel_room_info{
 border:solid 1px;
  width: 980px;
  height: 300px;
  margin-top: 20px;
  padding-left: 20px;

}
#hotel_room_type{
  width: 220px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
}
#h_room_pho{
border: solid 1px;
  width: 220px;
  height: 220px;
  margin-top: 20px;  
}
#h_room_phoi{
  width: 220px;
  height: 220px;
}

#h_room_options1{

  width: 300px;
  height: 250px;
  margin-top: -230px;
  margin-left: 275px; 
}
#h_room_options1 h4{
 
  width: 300px;
  height: 25px;
  margin-top: 10px;
}
#h_room_options2{
  
  width: 300px;
  height: 250px;
  margin-top: -210px;
  margin-left: 300px; 
}
#h_room_options2 h4{

  width: 300px;
  height: 25px;
  margin-top: 10px;
}
#h_room_price{

  width: 150px;
  height: 25px;
  margin-top: 30px;
  float: right;
}
#roompay_btn{

  width: 120px;
  height: 50px;
  margin-top: 30px;
  margin-left: 150px;
  font-size: 20px;
 
}





