/* mypage_questions.css */

/* menuli클래스 하위 li에 마우스 오버일때 글자색 변경*/
.menuli > li:hover {
    color: white;
    background-color:  rgb(20, 3, 78);
}
/* background-color: blue; */

.mainNB input:hover{
    color: white;
    background-color: rgb(20, 3, 78);
}

.mainNB nav:nth-child(n+3):hover,  
.mainNB nav:nth-child(n+3):hover,
.mainNB nav:nth-child(n+3):hover, 
.mainNB nav:nth-child(n+3):hover, 
.mainNB nav:nth-child(n+3):hover
{
    color: white;
    background-color: rgb(20, 3, 78);
}

.menuli {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 0px;
    text-align: center;
}

.menu1,
.menu2,
.menu3,
.menu4 {
    margin-right: 5px;
    width: 100px;
    height: 30px;
    color: rgb(20, 3, 78);
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(20, 3, 78);
    border-radius: 10px 10px 10px 10px;
}
/* 
.mimg {
    width: 30px;
    height: 30px;
    padding-top: 0px;
} */

/*메인 전체 박스*/
.alMainB{
    width: 1050px;
    height: 1050px;
    margin: 50px 425px 0px 440px;
    border-width: 0px;
}
/*-------메인페이지 텍스트 박스--------*/
.mainTB {
    width: 1050px;
    height: 50px;
    padding-left: 250px;
    border-width: 0px;
    font-weight: bold;
}

.mainTB p{
    width: 800px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
}    
/* --------메인 네비와 컨텐츠를 컨테인한 박스------- */
.mainNCB{
    display: flex;
}

/*----------문의 사항의 시작! 제일 큰 박스----------*/
p{
    margin: 0px;
}
.questionbox{
    margin: 0px  0px 0px 50px;
    width: 799px;
}
/*대문글 박스*/
.intro_tB p{
    width: 795px;
    height: 60px;    
    float: left;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(221, 0, 0, 0.3);
    color: white;
    margin: 0px;
    padding: 3px 0px 0px 3px;
    border-width: 0px;
}
/* 문의 컨텐츠 전체 박스. */
.qna_cntnt_box{
    width: 795px;
    height: 500px;
    /* font-size: 20px; */
    font-weight: bold;
    margin-left: 30px;
    padding: 0px;
    border-width: 0px;
    /* box-shadow: 5px 5px 5px gray; */
}
/* 첫 번째 탭 기능을 넣을 친구들 전체 박스 */
.frst_lne_ctgry{
    width: 795px;
    height: 30px; 
    float: left;
    text-align: center;
    border: 1px solid black;
}
/* 탭 기능을 넣을 친구들 개별 박스 */
.frst_lne_ctgry p{
    width: 200px;
    height: 50px; 
    float: left;
}
/* 두 번째 탭 기능을 넣을 친구들 전체 박스 */
.sec_lne_ctgry{
    width: 795px;
    height: 28px; 
    float: left;
    border: solid black;
    border-width: 0px 1px 1px 0px;
}
/* 탭 기능을 넣을 친구들 개별 박스 */
.sec_lne_ctgry p{
    width: 130.5px;
    height: 28px; 
    float: left;
    text-align: center;
    border:solid black;
    border-width: 0px 0px 0px 1px;
}

.sec_lne_ctgry_hide{
    background-color: white;
    border-bottom: 1px solid white;
}

/* 폼 박스 */
.qna_info{
	width: 795px;
	height: 560px;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid rgb(249, 187, 187, 0.6);
	background-color: rgb(243, 213, 227, 0.5);
/* 	border-width: 0px 0px 0px 0px; */
}
/* 폼 스타일 */
.qna_selBox{
	width: 200px;
	height: 36px;
}

form[name=qna_info]{
}
.qna_ttl_box{
	width: 510px;
	height: 30px;
	}
.qna_cntt_box{
	width: 720px;
	height: 350px;
}
.qna_img_box{
	width: 720px;
	height: 30px;
}
.qna_btn{
	width: 80px;
	height: 35px;
	border-color: rgb(249 187 187);
	background-color: rgb(255 189 189);
}
.margin_t_lft{
	margin-top: 15px;
	margin-left: 30px;
}

.margin_lft60{
	margin-top: 15px;
	margin-left: 350px;
}

