@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
  margin: 0;
  padding: 0;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 1903px;
  height: 1650px;

}

.header {
  width: 1903;
  height: 130px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  color: rgb(20, 3, 78);
}

.header1 {
  width: 100%;
  height: 110px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuli li {
  list-style: none;
  float: left;
}

.logo {
  width: 300px;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  margin-left: 800px;
  text-align: center;
  color:rgb(236, 236, 162);

}
.logo1{
  width: 300px;
  height: 80px;
}

.home {
  width: 400px;
  height: 25px;
  margin-bottom: 55px;
  margin-right: 270px;
  float: right;
  font-size: 17px;
  font-weight: bolder;
}

.homeli {
  margin-top: 3px;
  list-style: none;
}
.home11 {
  width: 40px;
  height: 25px;
  margin-right: 10px;
  text-align: center;
  float: right;

}

.home1 {
width: 60px;
height: 25px;
margin-right: 10px;
text-align: center;
float: right;
}

.himg {
  width: 20px;
  height: 20px;
}

.head11 {
  width: 100%;
  height: 50px;
  display: flex;
}

.menu {
  width: 1000px;
  height: 40px;
  display: flex;
  float: left;
  margin-left: 450px;
  border-bottom: solid rgb(153, 171, 233) ;
}

.menuli {
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
  padding-left: 0px;
  text-align: center;

}

.menu1,.menu2,.menu4{
  margin-right: 5px;
  width: 100px;
  height: 30px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(153, 171, 233);
  border-radius: 15px 15px 0px 0px;

}
.menu3{
  margin-right: 5px;
  width: 100px;
  height: 30px;
  border-color: rgb(153, 171, 233);
  border-style: solid;
  border-width: 1px;
  border-color:reds;
  border-radius: 15px 15px 0px 0px;
}
.menuli p{
  margin-top: 2px;
}

.moveh{
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  color:rgb(20, 3, 78);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(153, 171, 233);
  border-radius: 15px 15px 0px 0px;
  background-color: #fff;
}
.moveb{
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  color:rgb(20, 3, 78);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(153, 171, 233);
  border-radius: 15px 15px 0px 0px;
  background-color: #fff;
}
.movet {
  font-size: 18px;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: rgb(20, 3, 78);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(20, 3, 78);
  border-radius: 15px 15px 0px 0px;
  color: white; /* 흰색으로 변경 */
}
.moves{
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  color:rgb(20, 3, 78);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(153, 171, 233);
  border-radius: 15px 15px 0px 0px;
  background-color: #fff;
}

/*----------------------------------------content---------------------------*/


.content{
    width: 1300px;
    /* height: 2150px; */
    margin-bottom: 40px;
    /* border-style: dashed; */
    border-color: blue;
    margin-top: 50px;
    margin-left: 300px;
}


/*  */



/*  */












/*----------------------------------------footer---------------------------------*/
.footer {
    width: 1900px;
    height: 200px;
    background-color: #85e7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0px; */
}


  /*  */
table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
    th, td {
    border: 1px solid #444444;
    height: 50px;
  }
  
  .container{
	  text-align: center;
  }

.container a{
  display: block; /* 영역적용위해 사용 */
  width: 100%; height: 100%;

  overflow: hidden;

  position: relative; /* absolute의 기본기준은 body로 처리 - 현재 요소로 기준변경 */
}

.container figcaption{
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);

  position: absolute; /* 이미지와 겹치게 처리 */
  top: 0; left: 0;

  color: #fff; text-align: center;
  line-height: 200px;

  opacity: 0; /* 처음엔 안보이고 */

  transition: 0.3s;
}

.container a:hover figcaption, .container a:focus figcaption{
  /* 마우스를 올리면 보이게 처리 */
  opacity: 1;
}

  /*  */
  a {
    text-decoration-line: none;
  }
  a:link {
    color : black;
  }
  a:visited {
    color : black;
  }
  a:hover {
    color : red;
  }
  a:active {
    color : green;
  }



/*  */



/*  */